@font-face {
  font-family: "Calibri-Bold-Italic";
  src: url("/assets/font/Calibri-Bold-Italic.ttf") format("ttf");
  src: local("Calibri-Bold-Italic"), url("/assets/font/Calibri-Bold-Italic.ttf");
}

@font-face {
  font-family: "Calibri-Bold";
  src: url("/assets/font/Calibri-Bold.TTF") format("ttf");
  src: local("Calibri-Bold"), url("/assets/font/Calibri-Bold.TTF");
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

p {
  margin: 0;
}
.small-text {
  font-size: 0.875rem;
}

.italic {
  font-style: italic;
}
