@import "./color";
@import "./typography";
@import "./components";
@import "./responsive";

body {
  margin: 0;
  padding: 0;
  background-color: $lighterGrey;
  font-family: "Calibri-Bold";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}

header {
  background: $white;
  .navbar-brand {
    padding: 0 1.3125rem;
    img {
      width: 11.25rem;
    }
  }

  .navbar form {
    position: relative;
  }

  .navbar {
    form {
      width: 55%;
      padding-left: 7rem;
      .form-control {
        border-radius: 50px;
        padding: 0.5rem;
        padding-left: 1.125rem;
      }
      .btn {
        border-radius: 100%;
        width: 36px;
        height: 36px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 12px;
        top: 0;
        bottom: 0;
        transform: translateY(3px);
        background: $yellow;
        border: 0;
        img {
          width: 16px;
        }
      }
    }
  }

  .nav-item {
    padding-left: 1.5rem;
    .nav-icon {
      text-align: center;
      .icon {
        img {
          height: 30px;
        }
      }
      p {
        text-transform: capitalize;
        color: $grey;
        padding-top: 0.2rem;
      }
    }
  }
}

.section {
  .title-section {
    padding: 1.625rem 0;
    margin: 0;
  }
}

.filter-bar {
  border-bottom: 1px solid $black;
  padding: 0 0 1rem;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .list-filter {
      display: flex;
      align-items: center;
      justify-content: center;
      label {
        display: block;
        padding-right: 1rem;
      }
      .border-rounded {
        background-color: #e0e0e0;
        border: 1px solid $black;
        border-radius: 50px;
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        text-transform: capitalize;
        font-size: 1rem;
        margin: 0 !important;
        .icon {
          width: 1rem;
          height: 1rem;
          background: #020202;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          margin-left: 0.7rem;
          img {
            width: 50%;
          }
        }
      }
    }
    .sort {
      .border-rounded {
        padding: 0.5rem 3rem 0.5rem 1rem;
        width: unset;
      }
    }
  }
}

// highlight product

.highlight {
  padding: 2rem 0;
  .list-product {
    .item-product {
      display: none;
    }
  }
  .card-default {
    border: 0;
    border-radius: 0;
    padding: 1.125rem;
    .bestell {
      position: absolute;
      left: 0;
      top: -1rem;
      background: #ffa500;
      padding: 0.2rem 1.5rem;
    }
    ul {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      li {
        padding: 0 0.5rem;
      }
      .images {
        position: relative;
        .product-label {
          position: absolute;
          right: -22%;
          top: 0;
        }
      }
      .desc {
        padding: 0 2rem;
        .title-product {
          text-decoration: underline;
        }
      }
      .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .desc-content {
        display: flex;
        p {
          font-size: 0.875rem;
        }
      }
    }
  }

  .list-card {
    padding: 1.125rem;
    border: 0;
    border-radius: 0;
    margin-top: 1rem;
    ul {
      li {
        display: table-cell;
        width: 1%;
        vertical-align: middle;
        text-align: center;
        span,
        h4 {
          display: inline-block;
          padding-left: 0.5rem;
          margin: 0;
        }
        p,
        h4 {
          padding-left: 1rem;
          display: inline-block;
        }
        .totals {
          justify-content: center;
        }
      }
      &:last-child {
        .btn {
          text-align: right;
          margin: auto;
        }
      }
      .name {
        p {
          max-width: 80%;
          text-decoration: underline;
        }
      }
      .total {
        span {
          color: #8e1216;
          padding-left: 0;
        }
        p {
          display: inline-block;
        }
      }
      .name,
      .series {
        text-align: left;
      }
      .stock {
        text-align: left;
        padding-left: 2rem;
        p,
        span {
          padding: 0;
        }
      }
    }
  }

  .cta {
    padding-top: 2rem;
    a {
      border: 1px solid $black;
      display: block;
      text-align: center;
      border-radius: 4rem;
      padding: 0.875rem;
      text-decoration: none;
      color: $black;
      transition: all 0.5s;
      font-size: 1.125rem;
      &:hover {
        background: $yellow;
        border-color: $yellow;
      }
    }
    .emptyList {
      cursor: not-allowed;
      display: none;
      &:hover {
        background: transparent;
        border-color: #000;
      }
    }
  }
}
